.Badges__hero {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 2rem 0;
    background-color: #000;
    margin-bottom: 1rem;
    display: none;
  }
  .Badges__hero>.Badges__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Badges__container-two{
    position: absolute;
  }
  .Badges__container, .Badges__container-two {
    width: 100%;
    
    /* max-width: 1024px; */
    padding: 0 1rem;
  }
  .Badges_conf-logo {
    margin-bottom: 2rem;
  }

  .Badges__buttons {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
  .Badges__buttons .btn {
    background-color: #41A9EA;
    color: #fff;
    font-size: 12px;
    width: 80px;
    height: 30px;
    letter-spacing: 1px;
    padding: 0;
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
  }

  @media screen and (min-width: 768px){
    .Badges__hero {
      display: inline-block;
      height: 130px;
    }
    .Badges__buttons .btn {
      font-size: 15px;
      width: 100px;
      height: 35px;
      letter-spacing: 1px;
      padding: 0;
      padding-top: 5px;
      text-align: center;
      font-weight: bold;
    }
  }

  @media screen and (min-width: 1024px){

    .Badges__container-two {
      max-width: 1024px;
      left: calc(50% - 500px);
    }
/* 
    .Badges__container, .Badges__container-two {
      max-width: 1024px;
      left: calc(50% - 400px);
    }  */
  }