.BadgeDetails__hero {
    position: relative;
    display: none;
    width: 100%;
    padding: 2rem 0;
    background-color: #000;
    margin-bottom: 1rem;
    color: #ffffff;
    height: 150px;
  }
  

  .BadgeDetails__container {
    position: absolute;
    margin-top: 10px;
    left: calc(50% - 150px);
  }
  .BadgeDetails__actions {
    display: flex;
    justify-content: space-around;
  }
  .button-edit {
    width: 100px;
    height: 35px;
    margin-right: 10px;
  }
  .button-delete {
    width: 100px;
    height: 35px;
    padding: 0;
    color: red;
    background-color: transparent;
    border: 1.5px solid red;
  }


  @media screen and (min-width: 768px){
    .BadgeDetails__hero {
      display: inline-block;
    }
    .BadgeDetails__container {
      flex-direction: row;
      justify-content: space-around;
    }
  }
