.BadgeEdit__container {
  position: absolute;
  margin-top: 20px;
  left: calc(50% - 150px);
}
.BadgeEdit__hero {
  position: relative;
  display: none;
  width: 100%;
  height: 150px;
  padding: 2rem 0;
  background-color: #000;
  margin-bottom: 1rem;
  color: #ffffff;
}

.BadgeEdit__hero-image {
max-height: 100px;
}
.BadgeEdit__form h1 {
  font-size: 25px;
  text-align: center;
}

@media screen and (min-width: 768px){
  .BadgeEdit__container{
    display: flex;
    left: calc(50% - 325px);
  }
  .BadgeEdit__hero {
    display: inline-block;
  }
  .BadgeEdit__badge {
    margin-top: 40px;
  }
  .BadgeEdit__form {
    margin-left: 40px;
  }
}