.Badges__hero {
    width: 100%;
    padding: 2rem 0;
    background: url('../../images/stars.svg'), #1B1B25;
    background-repeat: repeat;
    margin-bottom: 1rem;
  }

  .Badges__hero>.Badges__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Badges__container {
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .Badges__hero {
    display: none;
  }

  .Badges_conf-logo {
    margin-bottom: 2rem;
  }

  .Badges__buttons {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
  .Badges__buttons .btn {
    font-size: 12px;
    width: 100px;
    height: 35px;
    letter-spacing: 1px;
    padding: 0;
    padding-top: 5px;
    text-align: center;

  }

  @media screen and (min-width: 768px){
    .Badges__hero {
      display: inline-block;
    }
  }