.Home {
    width: 100%;
    min-height: calc(100vh - 40px);
    background-color: #000;
    color: #ffffff;
    display: flex;
    align-items: center;
    position: relative;
  }
  .Home__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Home__col img {
    display: none;
  }
  .Home__col .btn {
    margin-top: 20px;
  }
  
  @media screen and (min-width: 768px){
    .Home {
      min-height: calc(100vh - 50px);
    }
    .Home__col {
      align-items: flex-start;
    }
    .Home__col img {
      display: inline-block;
    }
    .Home__col h1 {
      font-size: 50px;
    }
  }