.card-badges {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px;
    background-color: antiquewhite;
}

.form-group input {
    height: 30px;
}

.BadgesListItem {
    border: 1px solid #43B1EE;
    margin-bottom: 5px;
}
.BadgesList__list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.badge {
    margin-bottom: 10px;
}