.Navbar {
    
    width: 100%;
    height: 60px;
    padding: 0.5rem 0;
    background-color: #393e46;
  }
  
  .Navbar__brand {
    color: #ffffff;
    display: flex;
    align-items: center;
  }
  .Navbar__brand span {
    font-size: 25px;
  }
  
  .Navbar__brand:hover {
    color: #ffffff;
    text-decoration: none;
  }
  
  .Navbar__brand-logo {
    margin-right: 0.5rem;
  }
  .Navbar__brand img {
    width: 100px;
    height: 50px;
  } 